<template>
    <div id="core-drawer-toolbar">
        <!-- toolbarr start -->
        <v-toolbar flat class="topbar" :height="height" fixed>

            <div v-if="responsive" class="topbaricon" @click.stop="drawer = !drawer">
                <v-icon>mdi-menu</v-icon>
            </div>

            <div class="logo">
                logo
                <!--<img src="assets/img/logo/logo.png" alt="logo">-->
            </div>


            <v-spacer/>

            <v-toolbar-items>
                <v-flex align-center justify-center layout>

                    <!--<v-menu bottom left offset-y transition="slide-y-transition" content-class="notification-menu">-->
                        <!--<div slot="activator" class="toolbar-items" to="/notifications">-->
                            <!--<v-badge color="error" overlap>-->
                                <!--<template slot="badge">-->
                                    <!--{{ notifications.length }}-->
                                <!--</template>-->
                                <!--<v-icon style="font-size:26px;color:#fff;">mdi-bell</v-icon>-->
                            <!--</v-badge>-->
                        <!--</div>-->

                        <!--<v-card>-->
                            <!--<v-list dense>-->
                                <!--<v-list-tile v-for="notification in notifications" :key="notification" @click="onClick">-->
                                    <!--<v-list-tile-title v-text="notification"/>-->
                                <!--</v-list-tile>-->
                            <!--</v-list>-->
                        <!--</v-card>-->

                    <!--</v-menu>-->

                    <v-menu bottom left offset-y > <v-toolbar-title slot="activator">
                            <span @click="navigate('groups.events.list')"> Events &nbsp; &nbsp; &nbsp; <i data-feather="chevron-down"></i></span>
                            <span  @click="navigate('groups.group')" > Messages  <i data-feather="chevron-down"></i></span>
                    </v-toolbar-title>

                    </v-menu>

                    <v-menu bottom left offset-y transition="slide-y-transition" content-class="profile-menu">
                        <v-toolbar-title slot="activator">
                            <div class="avater">
                                <!--<div class="card-circle online"></div>-->
                                <div class="card-circle" :class="cssIsOnline()"></div>
                            </div>

                            <!--<div class="avater">-->
                                <!--cici-->
                            <!--</div>-->


                            <span> {{ username }} <i data-feather="chevron-down"></i></span>
                        </v-toolbar-title>

                        <v-card>
                            <v-list dense>
                                <!--<v-list-tile v-for="(item,i) in profiles" :key="i" @click="onProfileSettingClick">-->
                                <!--<v-list-tile-action>-->
                                <!--<i :data-feather="item.icon"></i>-->
                                <!--</v-list-tile-action>-->
                                <!--<v-list-tile-title v-text="item.text"/>-->
                                <!--</v-list-tile>-->

                                <v-list-tile @click="logout">
                                    <v-list-tile-action>
                                        <i :data-feather="'icons at some point'"></i>
                                    </v-list-tile-action>
                                    <v-list-tile-title v-text="'Sign out'"/>
                                </v-list-tile>

                            </v-list>
                        </v-card>

                    </v-menu>

                </v-flex>
            </v-toolbar-items>

        </v-toolbar>
        <!-- toolbar end -->

        <!-- drawer start -->
        <v-navigation-drawer v-model="drawer" app class="sidebar" :width="width">
            <div class="compose-btn">
                <router-link :to="{ name: 'groups.add' }">
                    <v-btn>
                        Create a new group
                    </v-btn>
                </router-link>
            </div>

            <div class="compose-btn">
                <router-link :to="{ name: 'groups.join' }">
                    <v-btn>
                        Join a group !
                    </v-btn>
                </router-link>
            </div>


            <!--<router-link :to="{ name: 'groups.messages', 'id': groups[0]._id }">-->
                <!--<v-btn>-->
                    <!--{{groups[0].name}}-->
                <!--</v-btn>-->
            <!--</router-link>-->

            <v-list dense>
                <v-list-tile v-for="(group, i) in groups" :key="i" :to="{ name: 'groups.messages', params: {groupId: group._id} }" >
                    <v-list-tile-action>
                        <i :class="''"></i>
                    </v-list-tile-action>
                    <v-list-tile-title v-text="group.name"/>
                </v-list-tile>
            </v-list>

        </v-navigation-drawer>
        <!-- drawer end -->

    </div>
</template>

<script>
    import {mapState} from 'vuex';


    export default {
        data: () => ({
            notifications: [
                "Mike, John responded to your email",
                "You have 5 new tasks",
                "You're now a friend with Andrew",
                "Another Notification",
                "Another One"
            ],
            profiles: [
                {
                    icon: 'user',
                    text: 'My Profile'
                },
                {
                    icon: 'message-circle',
                    text: 'Message'
                },
                {
                    icon: 'settings',
                    text: 'Settings'
                },
                {
                    icon: 'log-out',
                    text: 'Logout'
                }
            ],
            drawer: null,
            width: 320,
            height: 85,
            responsive: false
        }),
        computed: {
            ...mapState('user', ['user', 'settings']),

            username(){
                if(this.user)
                {
                    return this.user.username;
                }
                return 'fetching data for user, should never return this';
            },


        },
        watch: {
            drawer(drawerNewVal){

            }
        },
        mounted() {


        },
        methods: {

        }
    }
</script>
