<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    flat
                            >
                                <v-toolbar-title>Login</v-toolbar-title>
                                <v-spacer></v-spacer>


                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            v-model="email"
                                            label="Login"
                                            name="login"
                                            type="text"
                                    ></v-text-field>

                                    <v-text-field
                                            v-model="password"
                                            id="password"
                                            label="Password"
                                            name="password"
                                            type="password"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn @click="login" color="primary">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>

                <v-snackbar
                        v-model="showNotification"
                >
                    {{ errMessage }}
                    <v-btn
                            color="red"
                            text
                            @click="showNotification = false"
                    >
                        Close
                    </v-btn>
                </v-snackbar>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    const jwtDecode = require('jwt-decode');
    export default {
        data(){
            return {
                email: '',
                password: '',
                errMessage: '',
                showNotification: false
            }
        },
        props: {
            source: String,
        },

        methods: {
            async login(){
                await this.$axios.post(
                    'users/authenticate',
                    {
                        email: this.email,
                        password: this.password
                    }
                )
                    .then(async r => {
                        await this.$store.dispatch('auth/updateUser', r.data);
                        if(r.data.role === 'Admin')
                        {
                            await this.$router.push({
                                name: 'admin.topic.list'
                            })
                        }
                        if(r.data.role === 'User'){
                            await this.$router.push({
                                name: 'app.feed'
                            })
                        }

                    })
                    .catch(err => {
                        console.log(err.response);
                        this.errMessage = err.response.data.message;
                        this.showNotification = true;
                    })
            }
        }
    }
</script>