<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    flat
                            >
                                <v-toolbar-title>Login</v-toolbar-title>
                                <v-spacer></v-spacer>


                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            v-model="name"
                                            label="name"
                                            name="name"
                                            type="text"
                                    ></v-text-field>
                                    <v-text-field
                                            v-model="email"
                                            label="Login"
                                            type="text"
                                    ></v-text-field>

                                    <v-text-field
                                            v-model="password"
                                            id="password"
                                            label="Password"
                                            type="password"
                                    ></v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn @click="login" color="primary">Register</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>

                <v-snackbar
                        v-model="showNotification"
                >
                    {{ errMessage }}
                    <v-btn
                            color="pink"
                            text
                            @click="showNotification = false"
                    >
                        Close
                    </v-btn>
                </v-snackbar>

            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    export default {
        data(){
            return {
                name: '',
                email: '',
                password: '',
                errMessage: '',
                showNotification: false
            }
        },
        props: {
            source: String,
        },

        methods: {
            async login(){
                await this.$axios.post(
                    'users/register',
                    {
                        name: this.name,
                        email: this.email,
                        password: this.password
                    })
                    .then(r => {
                        this.$router.push({name:'login'})
                    })
                    .catch(err => {
                        console.log(err.response);
                        this.errMessage = err.response.data.message;
                        this.showNotification = true;
                    })
            }
        }
    }
</script>

<style>
    /*input:-webkit-autofill,*/
    /*input:-webkit-autofill:hover,*/
    /*input:-webkit-autofill:focus,*/
    /*input:-webkit-autofill:active  {*/
    /*    -webkit-box-shadow: 0 0 0 30px #424242 inset !important;*/
    /*     color: white;*/
    /*}*/
</style>