<template>
    <v-app id="inspire">
        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="8"
                            md="4"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    flat
                            >
                                <v-toolbar-title>Welcome to our awesome app! Register or login to use it!</v-toolbar-title>
                                <v-spacer></v-spacer>


                            </v-toolbar>
                            <v-card-text>

                            </v-card-text>
                            <v-card-actions>
                                <v-btn @click="goTo('register')" color="primary">Register</v-btn>

                                <v-spacer></v-spacer>
                                <v-btn @click="goTo('login')" color="primary">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>



            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    const jwtDecode = require('jwt-decode');
    export default {
        data(){
            return {
            }
        },
        props: {
            source: String,
        },

        methods: {
            goTo(routeName) {
                this.$router.push({
                    name: routeName
                })
            }
        }
    }
</script>