<template>
    <div>
        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                tile
        >
            <template v-for="item of items">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                    </v-list-item-content>
                    <v-checkbox
                            v-model="subscribedToTopics"
                            :key="item.id"
                            @change="updateSubscription(item.id)"
                            :value="item.id"
                    ></v-checkbox>
                </v-list-item>
            </template>
        </v-card>

        <v-snackbar
                v-model="showNotification"
        >
            {{ errMessage }}
            <v-btn
                    color="red"
                    text
                    @click="closeNotif()"
            >
                Close
            </v-btn>
        </v-snackbar>

    </div>
</template>

<script>
    import notification from "@/mixins/notification";
    export default {
        name: "CustomizeSubscriptions",
        mixins: [notification],

        data(){
            return {
                items: [],
                subscribedToTopics: [],
            }
        },
        methods: {
            async getData() {
                let userId = this.$store.state.auth.user.id;
                await this.$axios.get('topics/customize/' + userId)
                    .then(r => {
                        this.items = r.data;
                        this.userSubscribedToTopics();
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            async updateSubscription(topicId) {
                let payload = {
                    topicId: topicId,
                    userId: this.$store.state.auth.user.id,
                };

                await this.$axios.put('subscriptions', payload)
                    .then( r => {
                        this.showNotification = true;
                        this.errMessage = 'Update success';
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },

            userSubscribedToTopics() {
                let userId = this.$store.state.auth.user.id;

                this.items.forEach(topic => {
                   let userSubscription = topic.subscriptions
                       .filter(subscription => {
                           return subscription.userId === userId;
                       }).length;

                   if (userSubscription === 1)
                   {
                       this.subscribedToTopics.push(topic.id);
                   }
                });
            }
        },
        async mounted(){
            await this.getData();
        }
    }
</script>

<style scoped>

</style>