<template>
    <div>
        <v-btn :block="true" color="success" @click="goToListing()">Topic List</v-btn>

        <br>
        <br>
        <br>
        <br>

        <v-snackbar
                v-model="showNotification"
        >
            {{ errMessage }}
            <v-btn
                    color="red"
                    text
                    @click="closeNotif()"
            >
                Close
            </v-btn>
        </v-snackbar>


        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                raised
        >
            <v-card-title>{{id ? 'Edit' : 'Create' }} Topic</v-card-title>
            <v-card-text>
                <v-form>
                    <v-text-field
                            v-model="item.name"
                            label="Title"
                            type="text"
                    ></v-text-field>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="save()" color="primary">Save</v-btn>

            </v-card-actions>

        </v-card>
    </div>
</template>

<script>

    import notification from "@/mixins/notification";
    export default {
        name: "TopicShow",
        mixins: [notification],
        props: {
            id: {
                default: 0
            }
        },
        data(){
            return {
                item: {
                    name: '',
                }
            }
        },
        methods: {
            goToListing(){
                this.$router.push({
                    name: 'admin.topic.list'
                });
            },
            async save() {
                if(this.id)
                {
                    this.update();
                }
                else
                {
                    this.create();
                }
            },

            async update() {
                await this.$axios.put('topics/' + this.id, this.item)
                    .then(r => {
                        this.showNotification = true;
                        this.errMessage = 'Update success';
                    })
                    .catch(err => {
                        this.showNotification = true;
                        this.errMessage = err.response.data.message;
                    })
            },

            async create() {
                await this.$axios.post('topics', this.item)
                    .then(r => {
                        this.showNotification = true;
                        this.errMessage = 'Create success';
                        this.$router.push({
                            name: 'admin.topic.show',
                            params: {
                                id: r.data.id
                            }
                        });
                        this.item = r.data;
                    })
                    .catch(err => {
                        this.showNotification = true;
                        this.errMessage = err.response.data.message;
                    })
            },
            async getData(){
                await this.$axios.get('topics/' + this.id)
                    .then(r => {
                        this.item = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            }
        },
        mounted(){
            if(this.id){
                this.getData();
            }
        }
    }
</script>

<style scoped>

</style>