<template>
    <div>

        <v-btn :block=true color="success" @click="goTo(0)">Create new</v-btn>
        <br>
        <br>

        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                tile
        >
            <template v-for="item of items">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                        <v-list-item-subtitle>
                        </v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-icon
                            class="hoverCursor"
                        @click="goTo(item.id)"
                    >
                        <v-icon >mdi-pencil</v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </template>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "TopicListing",
        data(){
            return {
                items: []
            }
        },
        methods: {
            async getData() {
                await this.$axios.get('topics')
                    .then(r => {
                        this.items = r.data;
                        /*todo [id|user_id|topic_id] : save- > delete * where user_id . foreach ( insert )*/
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },



            goTo(id){
                this.$router.push({
                    name: 'admin.topic.show',
                    params: {
                        id: id
                    }
                })

            }
        },
        async mounted(){
            await this.getData();
        }
    }
</script>

<style scoped>
    .hoverCursor:hover {
        cursor: pointer;
    }
</style>