<template>
    <div>
        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                tile
        >
            <template v-if="!items.length">
                <v-btn @click="goToCustomize"> Customize your feed now </v-btn>

            </template>
            <template v-else>
                <template v-for="item of items">
                    <v-list-item two-line >
                        <v-list-item-content>
                            <v-list-item-title class="hoverCursor" @click="goTo(item.id)">{{item.name}}</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </template>
            </template>

        </v-card>
    </div>
</template>

<script>
    export default {
        name: "UserTopicListing",
        data(){
            return {
                items: []
            }
        },
        methods: {
            async getData() {
                let userId = this.$store.state.auth.user.id;

                await this.$axios.get('topics/app/' + userId)
                    .then(r => {
                        this.items = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            goTo(id) {
                this.$router.push({
                    name: 'app.feed.news',
                    params: {
                        topicId: id
                    }
                }).catch(err => { console.log(err) });

            },
            goToCustomize(id) {
                this.$router.push({
                    name: 'app.customize',

                }).catch(err => { console.log(err) });

            }
        },
        async mounted(){
            await this.getData();
        }
    }
</script>

<style scoped>
    .hoverCursor:hover {
        cursor: pointer;
    }
</style>