<template>
    <div>

        <v-card
                fluid
                class="mx-auto"
                max-width="400"
                tile
        >
            <div id="mostSubscribed"></div>

        </v-card>
        <br>

        <v-card>
            <div id="mostClicked"></div>
        </v-card>


    </div>
</template>

<script>

    import notification from "@/mixins/notification";

    export default {
        name: "NewsShow",
        mixins: [notification],
        props: {
            id: {
                default: 0
            }
        },
        data() {
            return {
                mostClickedInfo: {
                    data: [],
                    categories: [],
                },
                mostSubscribedInfo: {
                    labels: [],
                    series: [],
                }
            }
        },

        methods: {
            renderMostClicked() {
                let options = {
                    chart: {
                        height: 350,
                        type: 'bar',
                    },
                    plotOptions: {
                        bar: {
                            horizontal: true,
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    series: [{
                        data: this.mostClickedInfo.data
                    }],
                    xaxis: {
                        categories: this.mostClickedInfo.categories,
                    },
                    theme: {
                        mode: 'dark',
                    }
                };

                let chart = new this.$apexCharts(
                    document.querySelector("#mostClicked"),
                    options
                );

                chart.render();
            },
            renderMostSubscribed(){
                let options = {
                    chart: {
                        width: 400,
                        type: 'pie',
                    },
                    labels: this.mostSubscribedInfo.labels,
                    series: this.mostSubscribedInfo.series,
                    responsive: [{
                        breakpoint: 480,
                        options: {
                            chart: {
                                width: 200
                            },
                            legend: {
                                position: 'bottom'
                            }
                        }
                    }],
                    theme: {
                        mode: 'dark',
                    }
                };

                let chart = new this.$apexCharts(
                    document.querySelector("#mostSubscribed"),
                    options
                );

                chart.render();
            }

        },

        async mounted() {

            await this.$axios.get('reports')
                .then(r => {
                    console.log(r.data);
                    for(let arrayRequest of r.data){
                        if(arrayRequest["jsonName"] === "GetMostSubscribedNews"){
                            let labels = [];
                            let series = [];
                            for(let entryInfo of arrayRequest["data"]){
                                labels.push(entryInfo['name']);
                                series.push(entryInfo['total']);
                            }
                            let objj = {
                                labels: labels,
                                series: series
                            }
                            this.mostSubscribedInfo = objj;
                        }


                        if(arrayRequest["jsonName"] === "GetMostClickedNews"){
                            let data = [];
                            let categories = [];
                            for(let entryInfo of arrayRequest["data"]){
                                data.push(entryInfo['total']);
                                categories.push(entryInfo['name']);
                            }
                            let objj = {
                                data: data,
                                categories: categories
                            }
                            this.mostClickedInfo = objj;
                        }
                    }
                })
                .catch(err => {
                    console.log(err);
                    this.showNotification = true;
                    this.errMessage = 'Retrieving data err; refresh the page';
                });


            this.renderMostClicked();
            this.renderMostSubscribed();
        }

    }
</script>

<style scoped>
    .apexcharts-legend-text {
        color: white !important;
    }
</style>