<template>
    <div v-if="loaded">
        <v-btn :block="true" color="success" @click="goToListing()">News List</v-btn>

        <br>
        <br>
        <br>
        <br>

        <v-snackbar
                v-model="showNotification"
        >
            {{ errMessage }}
            <v-btn
                    color="red"
                    text
                    @click="closeNotif()"
            >
                Close
            </v-btn>
        </v-snackbar>


        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                raised
        >
            <v-card-title>{{id ? 'Edit' : 'Create' }} News </v-card-title>
            <v-card-text>
                <v-form>
                    <v-select
                            v-model="item.topicId"
                            :items="availableItems"
                            item-value="id"
                            item-text="name"
                            label="Topic"
                    >
                    </v-select>

                    <v-text-field
                            v-model="item.name"
                            label="Title"
                            type="text"
                    ></v-text-field>

                    <v-textarea
                            v-model="item.body"
                            label="Content"
                    >

                    </v-textarea>
                </v-form>
            </v-card-text>
            <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn @click="save()" color="primary">Save</v-btn>

            </v-card-actions>

        </v-card>
    </div>
</template>

<script>

    import notification from "@/mixins/notification";
    export default {
        name: "NewsShow",
        mixins: [notification],
        props: {
            id: {
                default: 0
            }
        },
        data(){
            return {
                item: {
                    name: '',
                    body: '',
                    topicId: 555,
                },
                availableItems: [],
                loaded: false,
            }
        },
        methods: {
            goToListing(){
                this.$router.push({
                    name: 'admin.news.list'
                });
            },
            async save() {
                if(this.id)
                {
                    this.update();
                }
                else
                {
                    this.create();
                }
            },

            async update() {
                await this.$axios.put('news/' + this.id, this.item)
                    .then(r => {
                        this.showNotification = true;
                        this.errMessage = 'Update success';
                    })
                    .catch(err => {
                        this.showNotification = true;
                        this.errMessage = err.response.data.message;
                    })
            },

            async create() {
                await this.$axios.post('news', this.item)
                    .then(r => {
                        this.showNotification = true;
                        this.errMessage = 'Create success';
                        this.$router.push({
                            name: 'admin.news.show',
                            params: {
                                id: r.data.id
                            }
                        });
                        this.item = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                        this.showNotification = true;
                        this.errMessage = err.response.data.message;
                    })
            },
            async getTopics(){
                await this.$axios.get('topics')
                    .then(r => {
                        console.log(r.data);
                        this.availableItems = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                        this.showNotification = true;
                        this.errMessage = 'Retrieving data err; refresh the page';
                    })
            },

            async getData(){
                await this.$axios.get('news/' + this.id)
                    .then(r => {
                        this.item = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                        this.showNotification = true;
                        this.errMessage = 'Retrieving data err; refresh the page #2';
                    })
            },
        },
        async mounted(){
            await this.getTopics();
            if(this.id)
            {
                await this.getData();
            }


            this.loaded = true;
        }
    }
</script>

<style scoped>

</style>