<template>
    <div v-if="loaded">


        <v-btn :block=true color="success" @click="goTo(0)">Create new</v-btn>

        <br>
        <br>

        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                tile
        >
            <template v-for="item of items">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title>{{item.name}}</v-list-item-title>
                        <v-list-item-subtitle>
                            {{getTopicNameById(item.topicId)}}
                        </v-list-item-subtitle>
                    </v-list-item-content>
                    <v-list-item-icon
                            class="hoverCursor"

                            @click="goTo(item.id)"
                    >
                        <v-icon >mdi-pencil</v-icon>
                    </v-list-item-icon>
                </v-list-item>
            </template>
        </v-card>
    </div>
</template>

<script>
    export default {
        name: "NewsListing",
        data(){
            return {
                items: [],
                availableTopics: {},
                loaded: false,
            }
        },
        methods: {
            async getData() {
                await this.$axios.get('news')
                    .then(r => {
                        this.items = r.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },

            goTo(id){
                this.$router.push({
                    name: 'admin.news.show',
                    params: {
                        id: id
                    }
                })

            },

            async getTopics(){
                await this.$axios.get('topics')
                    .then(r => {
                        for(let topic of r.data){
                            this.availableTopics[topic.id] = topic.name;
                        }
                    })
                    .catch(err => {
                        console.log(err);
                        this.showNotification = true;
                        this.errMessage = 'Retrieving data err; refresh the page';
                    })
            },

            getTopicNameById(topicId){
                return this.availableTopics[topicId] ? this.availableTopics[topicId] : "something went wrong"
            }
        },
        async mounted(){
            await this.getData();
            await this.getTopics();

            this.loaded = true;
        }
    }
</script>

<style scoped>
    .hoverCursor:hover {
        cursor: pointer;
    }
</style>