<template>
    <div>
        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                tile
        >
            <template v-if="!items.length">
                No new news, sorry !
            </template>
            <template v-for="item of items">
                <v-list-item two-line>
                    <v-list-item-content>
                        <v-list-item-title
                                class="hoverCursor"
                                @click="goTo(item.id)">{{item.name}}</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </template>
        </v-card>

        <br>
        <br>
        <br>
        <br>
        <v-btn :block=true color="success" @click="goBack()">Back</v-btn>

    </div>
</template>

<script>

    export default {
        name: "UserNewsListing",
        props: {
            topicId: {
                default: 0,
            }
        },
        data(){
            return {
                items: []
            }
        },
        methods: {
            async getData() {
                await this.$axios.get('topics/' + this.topicId)
                    .then(r => {
                        this.items = r.data.news;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },
            goTo(id) {
                this.$router.push({
                    name: 'app.feed.news.show',
                    params: {
                        newsId: id
                    }
                }).catch(err => { console.log(err) });

            },
            goBack(){
                window.history.go(-1);
            }
        },
        async mounted(){
            await this.getData();
        }
    }
</script>

<style scoped>
    .hoverCursor:hover {
        cursor: pointer;
    }
</style>