<template>
    <div>
        <v-card
                fluid
                class="mx-auto"
                max-width="900"
                raised
        >
            <v-card-title>
                <p class="display-1 text--primary">
                    {{item.name}}
                </p>
            </v-card-title>
            <v-card-text>
                <div class="text--primary">
                    {{item.body}}
                </div>
            </v-card-text>
        </v-card>

        <br>
        <br>
        <br>
        <br>
        <br>
        <v-btn :block=true color="success" @click="goBack()">Back to listing</v-btn>

    </div>
</template>

<script>

    export default {
        name: "UserNewsShow",
        props: {
            newsId: {
                default: 0
            }
        },
        data(){
            return {
                item: {},
            }
        },
        methods: {
            async getData(){
                await this.$axios.get('news/' + this.newsId)
                    .then(r => {
                        this.item = r.data;
                    })
                    .catch(err => {
                    })
            },
            goBack(){
                window.history.go(-1);
            }
        },
        async mounted(){
            await this.getData().then( () => {
                let payload = {
                    userId: this.$store.state.auth.user.id,
                    newsId: this.newsId,
                };
                this.$axios.post('readNews', payload)
                    .then( response => {
                        console.log(response);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            });
        }
    }
</script>

<style scoped>

</style>