<template>
    <div id="app">
        <v-app>
            <template>
                <router-view/>
            </template>
        </v-app>
    </div>
</template>

<script>

    export default {
        name: 'App',
        components: {},
        data: () => ({
            //
        }),
        mounted() {
            this.$vuetify.theme.dark = true
        }
    };
</script>
