<template>
    <div>
        <v-navigation-drawer
                v-model="drawer"
                app
                clipped
        >
            <v-list dense>
                <v-list-item
                        active-class="highlighted"
                        :class="$route.path.indexOf('/admin/topic') === 0 ? 'highlighted' : ''"
                        @click="goTo('admin.topic.list')">
                    <v-list-item-action>
                        <v-icon>mdi-view-dashboard</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Manage topics</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                        active-class="highlighted"
                        :class="$route.path.indexOf('/admin/news') === 0 ? 'highlighted' : ''"
                        @click="goTo('admin.news.list')">
                    <v-list-item-action>
                        <v-icon>mdi-settings</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Manage news</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item
                        active-class="highlighted"
                        :class="$route.path.indexOf('/admin/reports') === 0 ? 'highlighted' : ''"
                        @click="goTo('admin.reports')">
                    <v-list-item-action>
                        <v-icon>mdi-settings</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title>Reports</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
                color="blue"
        >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title>NewsApp</v-toolbar-title>
        </v-app-bar>

        <v-content>
            <router-view></router-view>
        </v-content>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                drawer: true
            }
        },
        methods: {
            goTo(name){
                this.$router.push({name : name}).catch(err => {});
            }
        }
    }
</script>

<style>
    .highlighted {
        background: #656667;
    }
</style>